* {
  box-sizing: border-box;
}

.container {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border: 3px dashed #c4c4c4;
  padding: 1rem;
  border-radius: 0.7rem;
}

.posts,
.comments,
.users {
  width: 80vw;
  display: grid;
  grid-template: auto/repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  height: 100vh;
  overflow-y: scroll;
}

h3 {
  background: #c4c4c4;
  width: 60vw;
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.5rem;
}

.back {
  text-decoration: none;
  background-color: #116df6;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

.back:hover {
  transform: scale(1.05);
  background-color: #b3b1b1;
  color: black;
}

.comments {
  display: grid;
  grid-template: auto/repeat(auto-fit, minmax(400px, 1fr));
}

.user {
  background-color: #abc7f0;
}
